<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="7.0.1" targetFramework="net461" />
  <package id="CK.ActivityMonitor.StandardSender" version="7.0.1" targetFramework="net461" />
  <package id="CK.Core" version="7.0.0" targetFramework="net461" />
  <package id="CK.Text" version="5.2.0" targetFramework="net461" />
</packages>