<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <ngb-datepicker #dpStart [(ngModel)]="dateStart" (navigate)="date = $event.next"></ngb-datepicker>
    <ngb-timepicker [(ngModel)]="timeStart" [minuteStep]="step.minute" [secondStep]="step.second"></ngb-timepicker>
  </div>
  <div class="col-md-3">
    <ngb-datepicker #dpEnd [(ngModel)]="dateEnd" (navigate)="date = $event.next"></ngb-datepicker>
    <ngb-timepicker [(ngModel)]="timeEnd" [minuteStep]="step.minute" [secondStep]="step.second"></ngb-timepicker>
  </div>
  <div class="col-md-3"></div>
</div>

<hr/>
<pre>Model: {{ dateStart | json }}</pre>
<pre>Model: {{ dateEnd | json }}</pre>
<pre>Model: {{ timeStart | json }}</pre>
<pre>Model: {{ timeEnd | json }}</pre>