<div class="container">
  <div class="page-header">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search</span>
      <input #query (keyup.enter)="Search(query.value); query.value=''" type="text" class="form-control" placeholder="trace" aria-describedby="basic-addon1">
    </div>
  </div>
  <ul class="timeline">
    <ng-container *ngFor="let log of data; index as i">
      <li class="timeline-inverted">
        <div *ngIf="log.logLevel.indexOf('Fatal') >= 0" class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
        <div *ngIf="log.logLevel.indexOf('Warn') >= 0" class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
        <div *ngIf="log.logLevel.indexOf('Info') >= 0" class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
        <div *ngIf="log.logLevel.indexOf('Trace') >= 0" class="timeline-badge trace"><i class="glyphicon glyphicon-check"></i></div>
        <div *ngIf="log.logLevel.indexOf('Error') >= 0" class="timeline-badge error"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> {{log.logLevel}}</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{log.logTime}}</small></p>
          </div>
          <div class="timeline-body">
            <strong><p>{{log.text}}</p></strong>
            <p>{{log.sourceFileName}} (Line : {{log.lineNumber}})</p>
            <ngb-accordion *ngIf="log.exception" #acc="ngbAccordion">
              <ngb-panel id="toggle-1" title="Exception">
                <ng-template ngbPanelContent>
                  <div class="alert alert-danger" role="alert">
                  <p><strong>{{log.exception.message}}</strong><br><pre>{{log.exception.stack}}</pre></p>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel *ngIf="log.exception.innerException" id="toggle-2" title="Inner Exception">
                <ng-template ngbPanelContent>
                  <div class="alert alert-danger">
                    <p><strong>Inner</strong></p>
                <pre>{{log.exception.innerException.stack}}</pre>
                    <p>{{log.exception.innerException.fileName}}</p>
                <pre>{{log.exception.innerException.details}}</pre>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>