<div class="container">
  <div class="page-header">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search</span>
      <input #query (keyup.enter)="Search(query.value); query.value=''" type="text" class="form-control" placeholder="keyword"
        aria-describedby="basic-addon1">
    </div>
    <filter-checkbox></filter-checkbox>
    <ngbd-datepicker-popup></ngbd-datepicker-popup>
  </div>


  <ul *ngIf="data" class="timeline">
    <div *ngFor="let log of data; index as i">
      <app-log-view [log]="data[i]"></app-log-view>
    </div>
  </ul>
</div>